@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Global Solution<br />
    Medellin, Colombia<br />
    <abbr title="Phone">584-72-48</abbr>

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">GlobalSolution@yopmail.com</a><br />

</address>
