@model GlobalSolution.Web.Models.VehiclePhotoViewModel

@{
    ViewData["Title"] = "AddImage";
}

<center>
    <h1>Add Image</h1>
</center>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="DetailsProperty" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>



